.App {
  text-align: center;
  background-color: #282c34;
}
  
.Intro {
  font-family: 'Trebuchet MS', sans-serif;
  color: whitesmoke
}

nav {
  color: whitesmoke;
}

nav ul {
  margin: 0px;
  display: flex;
  justify-content: right;
}

nav li {
  list-style: none;
  padding: 10px;
  margin: 0 10px;
};

nav a {
}

a { 
  text-decoration: none;
  color: inherit;
}