body {
  background-color: #282c34;
}

.App {
  text-align: center;
}
.IntroBox {
  height: 70%;
  width: 70%;
  margin: 15%;
}

.Intro {
  font-family: 'Courier New', Courier, monospace;
  font-size: 35px;
  font-weight: lighter;
  color: whitesmoke
}

nav {
  color: whitesmoke;
}

nav ul {
  margin: 0px;
  display: flex;
  justify-content: right;
}

nav li {
  list-style: none;
  padding: 10px;
  margin: 0 10px;
};

nav a {}

a { 
  text-decoration: none;
  color: inherit;
}