body {
  background-color: #282c34;
}

.App {
  text-align: center;
}
.HomeBox {
  height: 70%;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-top: 2.5%;
  display: flex;
  flex-direction: row;
  animation: intro-load 2000ms;
  animation-delay: 200ms;
}

header {
  animation: header-load 1500ms;
}

.IntroBox {
  width: 30%;
}

.Intro {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vw;
  font-weight: lighter;
  color: whitesmoke;
}

.homePhoto {
  height: 35%;
  width: 50%;
}

nav {
  color: whitesmoke;
}

nav ul {
  margin: 0px;
  display: flex;
  justify-content: right;
}

nav li {
  list-style: none;
  padding: 0.7vw;
  margin: 0 1vw;
};

nav a {}

a { 
  font-size: 1.2vw;
  text-decoration: none;
  color: inherit;
}

/* Mobile Specific */
@media screen and (max-width: 600px) {
  .Intro {
    font-size: 7vw;
  }

  .IntroBox {
    width: 70%;
  }

  .homePhoto{
    width: 70%;
    height: 50%;
    size: 5vw
  }

  .HomeBox {
    flex-direction: column;
  }

  nav li {
    padding: 4vw;
    margin: 0, 4vw;
  }

  a{
    font-size: 4vw;
  }
}

/* Animations */
@keyframes header-load {
  0% {
    transform: translateY(-100%)
  }
  100% {
    transform: translateY(0)
  }
}

@keyframes intro-load {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}