body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  background-color: #282c34;
  color: whitesmoke;
}

h3 {
  font-weight: normal;
}
.App {
  text-align: center;
}

.HomeBox {
  height: 70%;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
  animation: intro-load 2000ms ease-in;
  animation-delay: 500ms;
  padding: 0 0 15% 0;
}

.ContactBox {
  height: 70%;
  width: 70%;
  padding: 15% 0 0 0;
  margin-left: 15%;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.ExperienceBox {
  height: 70%;
  width: 70%;
  margin-left: 15%;
  padding-bottom: 20%;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.LinksBox {
  display: flex; 
  flex-direction: row;
  justify-content: center;
}

.JobBox {
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
}

i {
  font-size: 8vw;
}

.JobBox img {
  height: 30%;
  width: 35%;
  margin-right: 5%;
  margin-top: 5%;
}
.JobInfo {
  display: flex;
  flex-direction: column;
}

.IntroBox {
  width: 30%;
}

.Intro {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vw;
  font-weight: lighter;
}

.homePhoto {
  height: 35%;
  width: 50%;
}

nav {
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  margin: 0px;
  display: flex;
  justify-content: right;
}

nav li {
  list-style: none;
  padding: 0.7vw;
  margin: 0 1vw;
  color: #282c34;
};

nav a {}

a { 
  font-size: 1.2vw;
  text-decoration: none;
  color: inherit;
}

/* Mobile Specific */
@media screen and (max-width: 600px) {
  .Intro {
    font-size: 7vw;
  }

  .IntroBox {
    width: 70%;
  }

  .homePhoto{
    width: 70%;
    height: 50%;
    size: 5vw
  }

  .HomeBox {
    flex-direction: column;
    margin-top: 15%;
  }
  
  .JobBox img {
    margin-left: 25%;
    width: 50%;
  }

  .JobBox {
    flex-direction: column;
  }

  nav li {
    padding: 4vw;
    margin: 0, 3.2vw;
  }

  a{
    font-size: 3.5vw;
  }
}

/* Animations */

@keyframes intro-load {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}